<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    <script>
        function hrefBuscarUsuarios() {
            window.location.assign("@Url.Action("buscarUsuarios", "buscarUsuarios")")
        }
        function hrefNotificaciones() {
            window.location.assign("@Url.Action("Notificaciones", "Notificaciones")")
        }
        function hrefIniciaSesion() {
            window.location.assign("@Url.Action("InicioSesion", "InicioSesion")")
        }
    </script>
</head> 
<body>
    
    
    <!--<div class="se-pre-con"></div>-->
    <div class="theme-layout">

        <!-- Encabezado -->

        <div class="topbar stick">
            <div class="logo">
                <a href="index.html"><h3>FaceBot</h3></a>
            </div>

            <div class="top-area">
                <ul class="main-menu">
                    <li>
                        <a href="@Url.Action("Index","Home")" title="">Inicio</a>
                    </li>
                    <li>
                        <a href="@Url.Action("MiPerfil","MiPerfil")" title="">Mi perfil</a>
                        <ul>
                            <li><a href="@Url.Action("CambiarContrasenia","CambiarContrasenia")" title="">Cambiar contraseña</a></li>
                            <li><a href="@Url.Action("PrivacidadDatos","PrivacidadDatos")" title="">Editar privacidad</a></li>
                            <li><a href="@Url.Action("EditarPerfil","EditarPerfil")" title="">Editar perfil</a></li>
                        </ul>
                    </li>
                </ul>
                
                <!-- buscador -->
                <ul class="setting-area">
                    <li>
                        <a href="" title="Home" data-ripple=""><i class="ti-search"></i></a>
                        <div class="searched">
                            <form method="post" class="form-search">
                                <input type="text" placeholder="Buscar un Amigo">
                                <button onclick="hrefBuscarUsuarios()" data-ripple><i class="ti-search"></i></button>

                            </form>
                        </div>
                    </li>
                    <!-- Notificaciones -->
                    <li>
                        <a href="#" title="Notification" data-ripple="">
                            <i class="ti-bell"></i>
                        </a>
                        <!-- detalle notificaciones -->
                        <div class="dropdowns">
                            <ul class="drops-menu">
                                <li>
                                    <a href="@Url.Action("Notificaciones","Notificaciones")" title="">
                                        <img src="~/images/resources/thumb-1.jpg" alt="">
                                        <div class="mesg-meta">
                                            <h6>sarah Loren</h6>
                                            <span>Notificación 1</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Notificaciones","Notificaciones")" title="">
                                        <img src="~/images/resources/thumb-2.jpg" alt="">
                                        <div class="mesg-meta">
                                            <h6>Jhon doe</h6>
                                            <span>Notificación 2</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Notificaciones","Notificaciones")" title="">
                                        <img src="~/images/resources/thumb-3.jpg" alt="">
                                        <div class="mesg-meta">
                                            <h6>Andrew</h6>
                                            <span>Notificación 3</span>
                                        </div>
                                    </a>
                                </li>

                            </ul>
                            <!-- fin del ejemplo notificaciones -->
                            <!-- ver todas las notificaciones -->
                            <a onclick="hrefNotificaciones()" title="">Ver más</a>
                        </div>
                    </li>
                    <!-- inicio de perfil-->

                </ul>
                <div class="user-img">
                    <img src="~/images/resources/admin.jpg" alt="">
                    <div class="user-setting">
                        <a onclick="hrefIniciaSesion()" title="">Cerrar Sesion</a>
                    </div>
                </div>

                <span class="col-lg-1" data-ripple=""></span>
            </div>
        </div><!-- topbar -->
        @RenderSection("portada", required: false)
        <section>
            <div class="gap gray-bg">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row" id="page-contents">
                                <div class="col-lg-3">
                                    <aside class="sidebar static">
                                        <div class="widget">
                                            <h4 class="widget-title">Opciones</h4>
                                            <ul class="naves">
                                                <li>
                                                    <i class="fa fa-users"></i>
                                                    @Html.ActionLink("Mis amigos", "VerAmigos", "verAmigos")                                               </li>
                                                <li>
                                                    <i class="fa fa-camera"></i>
                                                    @Html.ActionLink("Fotos", "Fotos", "Fotos")
                                                </li>
                                                <li>
                                                    <i class="fa fa-film"></i>
                                                    @Html.ActionLink("Videos", "Videos", "Videos")
                                                </li>
                                                <li>
                                                    <i class="fa fa-weixin"></i>
                                                    @Html.ActionLink("Chat", "Chat", "Chat")  
                                                </li>
                                                <li>
                                                    <i class="fa fa-sign-out"></i>
                                                    @Html.ActionLink("Cerrar Sesion", "InicioSesion", "InicioSesion")
                                                </li>
                                            </ul>
                                        </div><!-- Shortcuts -->
                                    </aside>
                                </div>

                                <div class="col-lg-6">
                                    @RenderBody()                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>


    </div>
    
    <script src="~/Scripts/main.min.js"></script>
    <script src="~/Scripts/script.js"></script>
    <script src="~/Scripts/map-init.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script>
</body>
</html>